<!-- Carrusel -->
<div class="col">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner tamano-carrusel">
      <div class="carousel-item active">
        <img src="assets/image1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="row h-100 m-2">
  <!-- Sección noticias -->
  <div class="col-md-8 col-sm-8 col border-end">
    <app-noticia [items]="nuevasNoticias"></app-noticia>
  </div>
  
  <!-- Menú lateral -->
  <div class="col-md col-sm col">
    <ul class="list-group" *ngFor="let noticia of nuevasNoticias">
      <li class="list-group-item">
        <a [href]="noticia.url" class="link-dark none-decoration"  target="_blank">{{noticia.title}}</a>
      </li>
    </ul>
  </div>
</div>
