<div class="col">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner tamano-carrusel">
      <div class="carousel-item active">
        <img src="assets/image1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="col bg-dark h-50">
  a
</div>
<div class="row h-100 m-2">
  <div class="col-md-8 col-sm-8 col-8 border-end">
    <div class="card m-2">
      <div class="card-header">
        Titular
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Información</p>
          <footer class="blockquote-footer">Fecha<cite title="Source Title"> Autor</cite></footer>
        </blockquote>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        Titular
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Información</p>
          <footer class="blockquote-footer">Fecha<cite title="Source Title"> Autor</cite></footer>
        </blockquote>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        Titular
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Información</p>
          <footer class="blockquote-footer">Fecha<cite title="Source Title"> Autor</cite></footer>
        </blockquote>
      </div>
    </div>
    <div class="card m-2">
        <div class="card-header">
          Titular
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Información</p>
            <footer class="blockquote-footer">Fecha<cite title="Source Title"> Autor</cite></footer>
          </blockquote>
        </div>
      </div>
  </div>
  <div class="col-md col-sm col">
    <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</div>
